<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">Simply Time</a>
  <ul class="nav nav-pills">
    <li class="nav-item active">
      {{#link-to "clients"}}Clients{{/link-to}}
    </li>
  </ul>
  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
    {{outlet}}
  {{else}}
    <button {{action "signIn" "github"}}>Sign in with GitHub</button>
  {{/if}}
</nav>

<div class="container">
{{#timer-control}}
{{/timer-control}}
  {{outlet}}
</div>
